<nav class="navbar navbar-light bg-light">
<%if(user){%>
<a class='btn btn-success' href="/urls">Logged in as <%=user%></a>
<span><a href="/urls/new" class="btn btn-primary">Create New URL</a></span>
<form method="POST" action="/logout"><button type="submit" class="btn btn-warning">Log Out!</button></form>
<%} else {%>
<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link" href="/urls">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
  <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
</ul>
<%}%>
</nav>