<%if(user){%>
<p><%=user%></p>
<form method="POST" action="/logout">
  <button type="submit">Log Out!</button>
</form>
<span><a href="/urls/new">Create New URL</a></span>
<%} else {%>
<p>Please log in!</p>
<span><a href="/urls">Home</a> | <a href="/login">Login</a> | <a href="/register">Register</a></span>
<%}%>