<h1> TinyApp  </h1>
<a href="../urls">URLs</a> | <a href="../urls/new">Create New TinyURL</a><br/>

<%if(user){%>
<p>Logged in as: <b><%=user.email%></b></p>
<form class="inline-form" method="POST" action='/logout'>
  <button type="submit" class="btn btn-primary">Logout</button>
</form>
<%} else {%>
<a href="/register">Register</a> | <a href="/login">Login</a>
<%}%>