<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="">
  <header><% include ./partials/_header %></header>
  <div class="jumbotron" style="width:60%; margin-left: auto; margin-right: auto; margin-top: 5em; text-align: center;">
    <h1 style="margin:2em 0;"> CREATE NEW URL </h1>
    <form style="display: flex;" method="POST" action='/urls'>
      <h4 style="line-height:2.5rem">URL: </h4>
      <input style="width: 60%; margin: 0 2em;"  class="form-control" type="text" name="longURL">
      <button style = "width: 30%;"type="submit" class="btn btn-success mb-2">Create!</button>
    </form>
  </div>
</body>
</html>